@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Data.Models.Entities.Department
@{
ViewData["Title"] = "Create";
}

<h1>Create New Department</h1>
<br/>
<br/>


<form asp-action="Create">
    <div class="form-group">
        <label class="col-form-label" asp-for="Code"></label>
        <input type="text" asp-for="Code" class="form-control" />
        @* <span asp-validation-for="Code" class="text-danger"></span> *@
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control" />
        @* <span asp-validation-for="Name" class="text-danger"></span> *@
    </div>
    <div>
        @Html.ValidationSummary(true, "DepartmentError","Error While Adding Department")
    </div>
    <input type="submit" value="Create" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>