@model Company.Web.Models.ForgetPasswordViewModel
@{
    ViewData["Title"] = "Forget Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<form class="login100-form validate-form" asp-action="ForgetPassword" method="post">
    <span class="login100-form-logo">
        <i class="zmdi zmdi-landscape"></i>
    </span>
    <span class="login100-form-title p-b-34 p-t-27">
        Forget Password
    </span>
    <div class="wrap-input100 validate-input" data-validate="Enter email">
        <input class="input100" type="email" asp-for="Email" placeholder="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
        <span class="focus-input100" data-placeholder="&#xf207;"></span>
    </div>
    <div class="container-login100-form-btn">
        <button class="login100-form-btn">
            Reset Password
        </button>
    </div>
    <div class="text-center p-t-90">
        <span>Already have an account?</span>
        <a class="txt1" href="@Url.Action("Login", "Account")">
            Login
        </a>
    </div>
</form>