@model Company.Web.Models.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<form class="login100-form validate-form" asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Email"/>
    <input type="hidden" asp-for="Token"/>
    <span class="login100-form-logo">
        <i class="zmdi zmdi-landscape animated jackInTheBox"></i>
    </span>
    <span class="login100-form-title p-b-34 p-t-27">
        Reset Password
    </span>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="wrap-input100 validate-input" data-validate="Enter new password">
        <input class="input100 animated fadeInUp" type="password" asp-for="Password" placeholder="New Password">
        <span asp-validation-for="Password" class="text-danger"></span>
        <span class="focus-input100" data-placeholder="&#xf191;"></span>
    </div>
    <div class="wrap-input100 validate-input" data-validate="Confirm new password">
        <input class="input100 animated fadeInUp" type="password" asp-for="ConfirmPassword" placeholder="Confirm New Password">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        <span class="focus-input100" data-placeholder="&#xf191;"></span>
    </div>
    <div class="container-login100-form-btn">
        <button class="login100-form-btn animated pulse" onclick="$(this).addClass('animated pulse'); setTimeout(function(){$('.login100-form-btn').removeClass('animated pulse');}, 1000)">
            Change Password
        </button>
    </div>
</form>