@model SignUpViewModel
@{
    ViewData["Title"] = "Sign Up";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<h1>Sign Up</h1>
<form class="login100-form validate-form">
    <span class="login100-form-logo">
        <i class="zmdi zmdi-landscape"></i>
    </span>

    <span class="login100-form-title p-b-34 p-t-27">
        Sign Up
    </span>

    <div class="wrap-input100 validate-input">
        <input class="input100" asp-for="FirstName" placeholder="FirstName" required>
        <span asp-validation-for="FirstName"></span>
    </div>

    <div class="wrap-input100 validate-input">
        <input class="input100" asp-for="LastName" placeholder="LastName" required>
        <span asp-validation-for="LastName"></span>
    </div>

    <div class="wrap-input100 validate-input">
        <input class="input100" asp-for="Email" placeholder="Email" required>
        <span asp-validation-for="Email"></span>
    </div>

    <div class="wrap-input100 validate-input">
        <input class="input100" asp-for="Password" placeholder="Password" required>
        <span asp-validation-for="Password"></span>
    </div>

    <div class="wrap-input100 validate-input">
        <input class="input100" asp-for="ConfirmPassword" placeholder="Confirm Password" required>
        <span asp-validation-for="ConfirmPassword"></span>
    </div>

    <div class="contact100-form-checkbox">
        <input class="input-checkbox100" id="chkAgree" type="checkbox" required>
        <label class="label-checkbox100" for="chkAgree">
            I agree to the Terms and Conditions
        </label>
    </div>

    <div class="container-login100-form-btn">
        <button class="login100-form-btn">
            Sign Up
        </button>
    </div>

    <div class="text-center p-t-90">
        <span>Already have an account?</span>
        <a class="txt1" href="@Url.Action("Login", "Account")">
            Login
        </a>
    </div>
</form>